@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  font-family: 'Google Sans', sans-serif;
  box-sizing: border-box;
}
body, html { 
  padding: 0;
  margin: 0;
}

#trbtn-overlay-container-0 {
  position: absolute;
  visibility: hidden;
  top: 60px;
}

main {
  min-height: 100vh;
}

.response {
  width: 100%;
  max-width: 1150px;
  margin: auto;
}